@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
button {
  cursor: pointer;
}
.uzo-pulsing-marker span {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  background-color: #3b82f6;
  border-radius: 9999px;
  animation: pulse 1.2s infinite;
  box-shadow: 0 0 6px rgba(59, 130, 246, 0.7);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.uzo-user-marker span {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  background-color: #facc15;
  border-radius: 9999px;
  animation: pulse 1.2s infinite;
  box-shadow: 0 0 8px rgba(250, 204, 21, 0.7);
}
.conic {
  background: conic-gradient(
    from 210deg,
    rgba(197, 187, 184, 1) 0deg,
    rgba(197, 187, 184, 1) 24deg,
    rgba(184, 181, 184, 1) 24deg,
    rgba(184, 181, 184, 1) 48deg,
    rgba(169, 175, 183, 1) 48deg,
    rgba(169, 175, 183, 1) 72deg,
    rgba(154, 168, 181, 1) 72deg,
    rgba(154, 168, 181, 1) 96deg,
    rgba(139, 161, 179, 1) 96deg,
    rgba(139, 161, 179, 1) 120deg,
    rgba(125, 152, 175, 1) 120deg,
    rgba(125, 152, 175, 1) 144deg,
    rgba(112, 144, 171, 1) 144deg,
    rgba(112, 144, 171, 1) 168deg,
    rgba(101, 135, 166, 1) 168deg,
    rgba(101, 135, 166, 1) 192deg,
    rgba(92, 126, 161, 1) 192deg,
    rgba(92, 126, 161, 1) 216deg,
    rgba(85, 117, 155, 1) 216deg,
    rgba(85, 117, 155, 1) 240deg,
    rgba(81, 108, 148, 1) 240deg,
    rgba(81, 108, 148, 1) 264deg,
    rgba(79, 99, 141, 1) 264deg,
    rgba(79, 99, 141, 1) 288deg,
    rgba(80, 90, 133, 1) 288deg,
    rgba(80, 90, 133, 1) 312deg,
    rgba(84, 83, 125, 1) 312deg,
    rgba(84, 83, 125, 1) 336deg,
    rgba(91, 75, 116, 1) 336deg 360deg
  );
}
.leaflet-marker-icon.bounce {
  animation: bounce 0.8s ease-in-out infinite;
}
/* Popup container */
.leaflet-popup-content-wrapper {
  /* https://grabient.com/HQNgTAHANMAsEFYZjLKBaADMAzARmi2DAE4QZYTDtY8wNswQSY8B2cvXJh4BE+ui6ZMOIA?style=angularSwatches&steps=15&angle=210 */

  background: linear-gradient(
    to left,
    #4776e6,
    #8e54e9
  ) !important; /* gray-800 */
  color: white !important;
  cursor: pointer !important;
  border-radius: 30px !important;
  padding: 1px !important;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4) !important;
}

/* Popup tip arrow */
.leaflet-popup-tip {
  background: linear-gradient(to left, #4776e6, #8e54e9) !important;
}

/* Inner text wrapper */
.leaflet-popup-content {
  margin: 0 !important;
  padding: 8px 12px !important;
  font-size: 14px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
